HOST_NAME=localhost
SERVER_PORT=9998
URL=jdbc:postgresql://localhost:5432/db_name
USER=username
PASSWORD=password
GW_HOST=localhost
GW_PORT=9997

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_REQUEST_TOPIC=imop.requests
KAFKA_RESPONSE_TOPIC=imop.responses
KAFKA_CONSUMER_GROUP=imop-servers
